@import url(./global.css);


header {
    display: flex;
    justify-content: center;
    align-items: center; 
    gap: 600px;
    margin:84.79px 0px 106.06px 0px;
    
}
.nav-header ul{
    display: flex;
    gap: 57px;
    list-style: none;
}
.nav-header ul a{
    text-decoration: none; 
    color: var(--color--neutral--white);
    text-transform: uppercase;
}
.logo p{
    color: var(--color--neutral--white);
    text-transform: uppercase;
    font-family: var( --font--family--inter);
}
/* COMEÇO DO MAIN */
main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
   

.main-content p{
    width: 678.9px;
    display: flex;
    justify-self:start;
    padding: 0px 232.83px 25px 0prto;
    color:var(--color--neutral--white);
    font-family: var(  --font--family--inter);
    font-size: 24px;
}
.main-content h1{
    width: 1188px;
    display: flex;
    justify-self: center;
    text-align: center;
    color: var(--color--neutral--white);
    font-family: var(  --font--family--playfair);
    font-size: 342px;
    line-height: 0.7;
}
.quote{
    width: 260.96;
    padding:13.06px 19px 13.08px 19.96px;
    font-size: 38.41px;
    position: relative;
    transform: translate(680px,170px );
    background-color: var(--color--neutral--white);
    font-family: var(--font--family--inter);
    font-weight: 600;
}
.img-direita{
    position: absolute ;
    z-index: -1;
    transform: translate(510px);
}
.img-esquerda{
    position: absolute;
    z-index: -1;
    transform: translate(-520px,270px);
}
/* FIM DO MAIN */
.portfolio{
    display: flex;
    flex-direction: column;
    margin-top: 212.42px;
    align-items: center;
}
.photos{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 74.23px;
}
.portfolio h2{
    margin-top: 212.47px;
    margin-bottom: 71.74px;
    color: var(--color--neutral--white);
    font-family: var(--font--family--playfair);
    align-items: center;
    font-size: 81.31px;
    font-weight: lighter;
}
.photos-left{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 80px;
}
.photos-right{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 80px;
}

.about{
    display: flex;
    flex-direction: column;
    align-items: center;
  
    margin-top: 382.82px;
}
.about-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 71.77px;
}
.about h2{
    color: var(--color--neutral--white);
    font-family: var(--font--family--playfair);
    align-items: center;
    font-size: 81.31px;
    font-weight: lighter;
    margin-bottom: 70.93px;
}
.about-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}
.about-content p{
    color: var(--color--neutral--white);
    font-size: 40px;
    font-family: var(--font--family--inter);
    width: 633.18px;
    font-weight:normal;

}
/* FIM DA SECTION ABOUT */

/* COMEÇO DA SECTION TESTIMONAILS */
.testimonials{
    margin-top: 344px;
}
.testimonials-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 54.62px;
   
}
.testimonials-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--color--neutral--white);
    margin-bottom: 103.4px;
}
.testimonials-content h2{
    font-size: 81.31px;
    color: var(--color--neutral--white);
    font-family: var(--font--family--playfair);
    font-weight: lighter;
    margin-bottom:25.12px ;
}
.testimonials-content p{
    font-size: 22px;
    color: var(--color--neutral--white);
    width: 1119.74px;
    text-align: center;
}
.testimonials-two-blocks{
    display: flex;
    flex-direction: column;
    gap: 55.66px;

}
.testimonails-card{
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.card-content{
    width: 430.41px;
    height: 309.01px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--color--neutral--black);
    padding: 0px 15px;
    gap: 30px;
   

}
.testimonails-card h3{
    font-size: 44px;
    font-weight: 800;
    color:var(--color--neutral--white);
}
.testimonails-card p{
    color: var(--color--neutral--white);
    align-self: self-start;
    width: 290.21px;
    font-size: 15px;
}
.testimonails-card a{
    display: flex;
    justify-content: center;
    gap: 7.57px;
    align-self: self-start;
    text-decoration: none;
    color: var(--color--neutral--white);
    font-size: 16.07px;
}

/* CARD DA SECTION TESTIMONAIL DA ESQUERDA(SOZINHO) */

.testimonial-card-solo {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    
}
.card-testimonial-left-solo{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 309.01px;
    background-color: var(--color--neutral--black);
    padding: 20px 10px;

    gap: 30px;
}
.card-testimonial-left-solo h3{
    font-size: 44px;
    font-weight: 800;
    color:var(--color--neutral--white);
}
.card-testimonial-left-solo p{
    color: var(--color--neutral--white);
    align-self: self-start;
    width: 290.21px;
    font-size: 15px;
}
.card-testimonial-left-solo a{
    display: flex;
    justify-content: center;
    gap: 7.57px;
    align-self: self-start;
    text-decoration: none;
    color: var(--color--neutral--white);
    font-size: 16.07px;
}
.testimonials-button{
   
     margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-self: center;
    background:none;
    border: 1px solid var(--color--neutral--white);
    color: var(--color--neutral--white);
    text-transform: capitalize;
    text-align: center;
    margin-top: 109px;
    padding: 25px 24px;
}