@import url(./global.css);

header {
    display: flex;
    justify-content: center;
    align-items: center; 
    gap: 600px;
    margin:84.79px 0px 106.06px 0px;
    
}
.nav-header ul{
    display: flex;
    gap: 57px;
    list-style: none;
}
.nav-header ul a{
    text-decoration: none; 
    color: var(--color--neutral--white);
    text-transform: uppercase;
}
.logo p{
    color: var(--color--neutral--white);
    text-transform: uppercase;
    font-family: var( --font--family--inter);
}
/* COMEÇO DO MAIN */
main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
   

.main-content p{
    width: 678.9px;
    display: flex;
    justify-self:start;
    padding: 0px 232.83px 25px 0prto;
    color:var(--color--neutral--white);
    font-family: var(  --font--family--inter);
    font-size: 24px;
}
.main-content h1{
    width: 1188px;
    display: flex;
    justify-self: center;
    text-align: center;
    color: var(--color--neutral--white);
    font-family: var(  --font--family--playfair);
    font-size: 342px;
    line-height: 0.7;
}
.quote{
    width: 260.96;
    padding:13.06px 19px 13.08px 19.96px;
    font-size: 38.41px;
    position: relative;
    transform: translate(680px,170px );
    background-color: var(--color--neutral--white);
    font-family: var(--font--family--inter);
    font-weight: 600;
}
.img-direita{
    position: absolute ;
    z-index: -1;
    transform: translate(510px);
}
.img-esquerda{
    position: absolute;
    z-index: -1;
    transform: translate(-520px,270px);
}
/* FIM DO MAIN */
.portfolio{
    margin-top: 212.42px;
}
.photos{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 74.23px;
}
.h1-portolio{
    color: var(--color--neutral--white);
    font-family: var(--font--family--playfair);
}
.photos-left{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 80px;
}
.photos-right{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 80px;
}